<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Rewrite routed access to assets (img, css, files, js, favicon)" stopProcessing="true">
					<match url="^(images|css|files|js|fonts|favicon.ico)(.*)$" />
					<action type="Rewrite" url="{R:1}{R:2}" appendQueryString="false" />
				</rule>
                <rule name="Rewrite requests" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
